## String methods

In [1]:
s = "Hello World"

In [2]:
s.split()

['Hello', 'World']

In [3]:
s.split("o")

['Hell', ' W', 'rld']

In [4]:
s.lower()

'hello world'

In [5]:
s.upper()

'HELLO WORLD'

In [6]:
s.capitalize()

'Hello world'

In [7]:
#This method returns a string, which is the concatenation of the strings in the sequence seq. 
#The separator between elements is the string providing this method.
s.join( ("","!") )

'Hello World!'

In [8]:
" ".join(("a", "b"))

'a b'

In [9]:
#eplaces all spaces ' ' with no space ''.
s = s.replace(' ','')
s

'HelloWorld'

In [10]:
#letter of the alphabet
import string
alphabet=string.ascii_lowercase
alphabet

'abcdefghijklmnopqrstuvwxyz'


## Print Formatting
We can use the .format() method to add formatted objects to printed string statements.

In [11]:
'Insert another string : {}'.format('The inserted string')

'Insert another string : The inserted string'

In [12]:
#%r and repr() deliver the string representation of the object, including quotation marks and any escape characters

In [13]:
print("I'm going to inject %s text here, and %r text here." %('1','2'))

I'm going to inject 1 text here, and '2' text here.

\t inserts a tab into a string

In [14]:
print("I'm going to inject %s text here, and %r \ttext here." %('1','2'))

I'm going to inject 1 text here, and '2' 	text here.

The %s operator converts whatever it sees into a string, including integers and floats. 

The %d operator converts numbers to integers first, without rounding.

In [15]:
print('I wrote %s pages today.' %3.75)
print('I wrote %d pages today.' %3.75)

I wrote 3.75 pages today.
I wrote 3 pages today.

## Floating Point Numbers

In [16]:
print('Floating point numbers: %5.2f' %(13.144))

Floating point numbers: 13.14


## Formatting with the .format()

In [17]:
print('This is a string with an {}'.format('2'))

This is a string with an 2

In [18]:
print('The {2} {1} {0}'.format('fox','brown','quick'))

The quick brown fox

In [19]:
print('First Object: {a}, Second Object: {b}, Third Object: {c}'.format(a=1,b='Two',c=12.3))

First Object: 1, Second Object: Two, Third Object: 12.3

### Alignment, padding and precision with .format()

In [20]:
print('{0:9} | {1:8}'.format('Fruit', 'Quantity'))
print('{0:9} | {1:8}'.format('Apples', 3.))
print('{0:9} | {1:8}'.format('Oranges', 10))

Fruit     | Quantity
Apples    |      3.0
Oranges   |       10



By default, .format() aligns text to the left, numbers to the right. You can pass an optional <,^, or > to set a left, center or right alignment:

In [21]:
print('{0:=<8} | {1:-^8} | {2:>8}'.format('Left','Center','Right'))
print('{0:=<8} | {1:-^8} | {2:>8}'.format(11,22,33))

Left==== | -Center- |    Right
11====== | ---22--- |       33

In [22]:
#Float formatting follows "result: {value:{width}.{precision}}
print('This is my ten-character, two-decimal number:{0:10.2f}'.format(13.579))

This is my ten-character, two-decimal number:     13.58

## Formatted String Literals (f-strings) -> Python 3.6

In [23]:
name = 'Fred'

print(f"He said his name is {name}.")

#Pass !r to get the string representation:
print(f"He said his name is {name!r}")

SyntaxError: invalid syntax (<ipython-input-23-04ecaf9bbae7>, line 3)

In [24]:
num = 23.45678
#result: {value:{width}.{precision}}
print(f"My 10 character, four decimal number is:{num:{10}.{6}}")
print(f"My 10 character, four decimal number is:{num:10.4f}")

SyntaxError: invalid syntax (<ipython-input-24-44608c8812a5>, line 3)

In [25]:
"Python {}".format("rules")

'Python rules'

## List

In [26]:
my_list = ['A string',23,100.232,'o']

In [27]:
#number of items in the list
len(my_list)

4

In [28]:
#concatenate lists
my_list + ['new item']

['A string', 23, 100.232, 'o', 'new item']

In [29]:
# Grab index 1 and everything past it
my_list[1:]

[23, 100.232, 'o']

In [30]:
# add an item to the end of a list
my_list.append('append me!')
my_list

['A string', 23, 100.232, 'o', 'append me!']

In [31]:
# Pop off the 0 indexed item, by default pop takes off the last index
my_list.pop(0)
my_list

[23, 100.232, 'o', 'append me!']

In [32]:
# Assign the popped element
popped_item = my_list.pop()
popped_item

'append me!'

In [33]:
my_list

[23, 100.232, 'o']

In [34]:
new_list = [1, 2, 3, 4]
# Use reverse to reverse order (this is permanent!)
new_list.reverse()
new_list

[4, 3, 2, 1]

In [35]:
# sort the list, ascending order
new_list.sort()
new_list

[1, 2, 3, 4]

In [36]:
lst_1=[1,2,3]
lst_2=[4,5,6]
lst_3=[7,8,9]

# Make a list of lists to form a matrix
matrix = [lst_1,lst_2,lst_3]
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [37]:
# Grab first item of the first item in the matrix object
matrix[0][0]

1

In [38]:
# Build a list comprehension by deconstructing a for loop within a []
first_col = [row[0] for row in matrix]
first_col

[1, 4, 7]

## The methods for a list are:

    append
    count
    extend
    insert
    pop
    remove
    reverse
    sort

## Dictionary

In [39]:
my_dict = {'key1':123,'key2':[12,23,33],'key3':['item0','item1','item2']}

In [40]:
# call items from the dictionary
my_dict['key3']

['item0', 'item1', 'item2']

In [41]:
# Create a new dictionary
d = {}
# Create a new key through assignment
d['animal'] = 'Dog'
d

{'animal': 'Dog'}

In [42]:
# Dictionary nested inside a dictionary nested inside a dictionary
d = {'key1':{'nestkey':{'subnestkey':'value'}}}
# Keep calling the keys
d['key1']['nestkey']['subnestkey']

'value'

In [43]:
d = {'key1':1,'key2':2,'key3':3}
# Method to return a list of all keys 
d.keys()

dict_keys(['key2', 'key1', 'key3'])

In [44]:
# Method to grab all values
d.values()

dict_values([2, 1, 3])

In [45]:
# Method to return tuples of all items  
d.items()

dict_items([('key2', 2), ('key1', 1), ('key3', 3)])

In [46]:
#obtain a true list of keys, values, or key/value tuples, you can cast the view as a list
list(d.keys())

['key2', 'key1', 'key3']

## Tuple
Tuples are immutable

In [47]:
t = (1,2,3)

In [48]:
# Use indexing just like we did in lists
t[0]

1

In [49]:
# Use .index to enter a value and return the index
t.index(2)

1

In [50]:
# count the number of times a value appears
t.count(2)

1

## Set
Unordered collection of unique elements
Being a dictionary with only keys.

In [51]:
x = set()

In [52]:
x.add(1)
x

{1}

In [53]:
# Create a list with repeats
list1 = [1,1,2,2,3,4,5,6,1,1]

# Cast as set to get unique values
set(list1)

{1, 2, 3, 4, 5, 6}

In [54]:
set("Mississipi")

{'M', 'i', 'p', 's'}

## Booleans

In [55]:
# Output is boolean
1 > 2

False

In [56]:
# None placeholder
b = None
print(b)

None

## Files

In Jupyter notebooks:Create a simple .txt file with sublime text editor

In [57]:
%%writefile test.txt
Hello, this is a quick test file.

Writing test.txt

Check your notebook location

In [58]:
pwd

'/media/isaac/Data/Work-documents/Python'

In [59]:
# Open the text.txt we made earlier
#the open() function will only allow us to read the file
my_file = open('test.txt')

In [60]:
# We can now read the file
my_file.read()

'Hello, this is a quick test file.'

In [61]:
# the reading "cursor" is at the end of the file after having read it.
my_file.read()

''

In [62]:
# Seek to the start of file (index 0)
my_file.seek(0)

0

In [63]:
my_file.read()

'Hello, this is a quick test file.'

In [64]:
my_file.seek(0)
# Readlines returns a list of the lines in the file
my_file.readlines()

['Hello, this is a quick test file.']

In [65]:
#Close the file
my_file.close()

In [66]:
# Add a second argument to the function, 'w' which stands for write.
# Passing 'w+' lets us read and write to the file
my_file = open('test.txt','w+')

In [67]:
#Opening a file with 'w' or 'w+' truncates the original, anything that was in the original file is deleted!
my_file.readlines()

[]

In [68]:
# Write to the file
my_file.write('This is a new line')

18

In [69]:
# Read the file
my_file.seek(0)
my_file.read()

'This is a new line'

In [70]:
#always close the file
my_file.close()

In [71]:
#Passing the argument 'a' opens the file and puts the pointer at the end, so anything written is appended
#Like 'w+', 'a+' lets us read and write to a file. 
#If the file does not exist, one will be created.
my_file = open('test.txt','a+')
my_file.write('\nThis is text being appended to test.txt')
my_file.write('\nAnd another line here.')

23

In [72]:
my_file.seek(0)
print(my_file.read())

This is a new line
This is text being appended to test.txt
And another line here.

In [73]:
my_file.close()

Adding text with IPython

In [74]:
%%writefile -a test.txt
This is text being appended to test.txt
And another line here.

Appending to test.txt

In [75]:
#Readind every line in the file
for line in open('test.txt'):
    print(line)

This is a new line

This is text being appended to test.txt

And another line here.This is text being appended to test.txt

And another line here.